.snazzy-octopus {
	position:relative;
}

#octopus {
	position: absolute;
	width: 200px;
	margin: auto;
	left: 0;
	right: 0;
	top: 150px;
}

#hat {
	position: absolute;
	width: 200px;
	margin: auto;
	left: 0;
	right: 0;
	top: 90px;
}

#glasses {
	position: absolute;
	width: 150px;
	margin: auto;
	left: 0;
	right: 0;
	top: 240px;
}